<div class="dashboard-container" id="world-background">
  <div class="container-fluid" , style="max-width: 1024px; margin-top: 70px">
    <h1 class="text-center blue-header "><%= t('navbar.donate') %></h1>
    <div class="row">
      <div class="col-md-7 ">
        <h3 class="text-left blue-header "><%= t('donate_page.make_donation') %></h3>
        <% @donate_infos.each do |donate_info| %>
            <div class="container-fluid " style="margin-bottom: 20px;">
              <div class="row ">
                <div class="col-xs-1 col-sm-1 donate-info-coin-img">
                  <%= image_tag "coins_icons/#{donate_info.currency.name}.png" %>
                </div>
                <div class="col-xs-11 col-sm-11" id="container-id">
                  <label class="login-label"><%= donate_info.currency.name %></label><br>
                  <div class="container-fluid " style="margin: 0px; padding: 0px;">
                    <div class="row ">
                      <div class="col-xs-9">
                        <input type="text" id="donate-info-currency-address-<%= donate_info.currency.name %>" class="donate-info-currency-address transparent-input form-control" value="<%= donate_info.address %>" readonly>
                      </div>
                      <div class="col-xs-3">
                        <div class="container-fluid " style="margin: 0px; padding: 0px;">
                          <div class="row donate-info-buttons-container" >
                            <div class="col-xs-6" style="margin-top: -10px;"  >
                              <button
                                      title="Copy To Clipboard"
                                      class="copy-clipboard-<%= donate_info.currency.name %> donate-info-buttons"
                                      data-clipboard-target="#donate-info-currency-address-<%= donate_info.currency.name %>" %>
                                <span class="donate-info-copy-icon glyphicon glyphicon-copy"></span>
                              </button>
                            </div>
                            <div class="col-xs-6 " style="margin-top: -10px;">
                              <button class="donate-info-buttons"> <span class="donate-info-copy-icon glyphicon glyphicon-qrcode"></span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script type="">
                $(".copy-clipboard-<%= donate_info.currency.name %>").tooltip({
                    trigger: 'click',
                    placement: 'bottom'
                });
                function setTooltip(btn, message) {
                    $(btn).tooltip('hide')
                        .attr('data-original-title', message)
                        .tooltip('show');
                }
                function hideTooltip(btn) {
                    setTimeout(function () {
                        $(btn).tooltip('hide');
                    }, 30000);
                }
                var clipboard_<%= donate_info.currency.name %> = new Clipboard(".copy-clipboard-<%= donate_info.currency.name %>")
                clipboard_<%= donate_info.currency.name %>.on('success', function (e) {
                    setTooltip(e.trigger, 'Copied!');
                });
            </script>
        <% end %>
      </div>

      <div class="col-md-5" style="padding-left: 25px;">
        <h3 class="text-left  blue-header "><%= t('donate_page.share') %></h3>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCryptocoinsmap%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=465876620412327" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>
