<% content_for :title, "#{t('address.my_businesses')}  - CryptoCoinsMap" %>

<p id="notice"><%= notice %></p>
<div style="margin: 10px">
  <h2 class="blue-70"><%= t('dashboard.menu.businesses') %></h2>
  <table class="blue-70 table table-hover dashboard-address-table">
    <thead>
    <tr>
      <th><%= t('address.business_name') %></th>
      <th><%= t('address.country') %></th>
      <th><%= t('address.state') %></th>
      <th><%= t('address.city') %></th>
      <th><%= t('address.street') %></th>
      <th><%= t('address.number') %></th>
      <th><%= t('address.evaluations') %></th>
      <th>City</th>
      <th>Street</th>
      <th>Number</th>
      <th>Evaluations</th>
      <th ></th>
    </tr>
    </thead>

    <tbody class="dashboard-addresses-tbody">
    <% @addresses.each do |address| %>
        <tr>
          <td><%= address.business_name %></td>
          <td><%= address.country.name_en %></td>
          <td><%= address.state %></td>
          <td><%= address.city %></td>
          <td><%= address.street %></td>
          <td><%= address.number %></td>
          <td><%= address.emails.first %></td>

          <td>
            <%= link_to address do %>
                <span class="glyphicon glyphicon-eye-open blue-50 table-command-button" aria-hidden="true"></span>
            <% end %>
            <%= link_to  edit_address_path(address) do %>
                <span class="glyphicon glyphicon-pencil success table-command-button" aria-hidden="true"></span>
            <% end %>
            <%= link_to address, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <span class="glyphicon glyphicon-trash danger blue-70 table-command-button" aria-hidden="true"></span>
            <% end %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Address', new_address_path %>
</div>