<% content_for :title, "#{@address.business_name} - CryptoCoinsMap" %>
<div class="blue-70 container-fluid text-center " style="max-width: 680px;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= @address.business_name %></h1>
      <p class="text-center">
        <% @address.categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: 'address-show-link' %>
        <% end %>
      </p>
    </div>
  </div>
  <br>
  <% unless @address.description.nil? || @address.description.empty? %>
      <div class="row" class="text-center">
        <div class="col-xs-12">
          <strong class="text-center"><%= "#{t('address.description')}:" %></strong><br>
          <%= @address.description %>
        </div>
      </div>
      <br>
  <% end %>
  <div class="row">
    <div class="col-xs-6 ">
      <p class="pull-right">
        <strong><%= "#{t('address.country')}:" %></strong><br>
        <%= "#{@address.country.name}, #{@address.state}, #{@address.city} " %>
        <br>
        <br>
        <strong><%= "#{t('address.zip_code')}" + ("#{(', ' +t('address.district')) unless (@address.district.nil?||@address.district.empty?)} ") %>:</strong><br>
        <%= "#{@address.zip_code}" + ("#{(', ' +@address.district) unless (@address.district.nil?||@address.district.empty?)} ") %>
        <br>
        <br>
        <strong><%= "#{t('address.address')}:" %></strong><br>
        <%= "#{@address.street}, #{@address.number}" + ("#{(' , ' + @address.complement) unless (@address.complement.nil?)|| (@address.complement.empty?)}") %>
        <% unless @address.reference_point.nil? %>
            <br>
            <br>
            <strong><%= "#{t('address.reference_point')}:" %></strong><br>
            <%= @address.reference_point %>
        <% end %>
        </div>
    <div class="col-xs-6">
      <p class="pull-left">
        <% unless @address.web_site.nil? %>
            <strong><%= "#{t('address.web_site')}:" %></strong><br>
            <%= @address.web_site %>
            <br>
            <br>
        <% end %>
        <% unless @address.facebook_page.nil? %>
            <strong><%= "#{t('address.facebook_page')}:" %></strong><br>
            <%= @address.facebook_page %>
            <br>
            <br>
        <% end %>
        <strong><%= "#{t('address.email')}:" %></strong><br>
        <%= @address.email %>
        <br>
        <br>
        <strong><%= "#{t('address.phone')}:" %></strong><br>
        <%= @address.phone %>
      </p>
    </div>
  </div>
  <br>
  <div class="row text-center ">
    <div class="col-xs-12">
      <p>
        <strong><%= "#{t('index.coins_accepted')}:" %></strong><br>
        <% @address.currencies.collect do |coin_accepted| %>
            <% if (Rails.application.assets.find_asset "coins_icons/#{coin_accepted.name.split.join('-')}.png") %>
                <%= link_to image_tag("coins_icons/#{coin_accepted.name.split.join('-')}.png", class: 'infobox-currency-logo-16x16'), currency_path(coin_accepted) %>
            <% else %>
                <%= link_to coin_accepted.name, currency_path(coin_accepted) %>
            <% end %>
        <% end %>
      </p>
      <p>
        <% @address.address_attachments.each do |p| %>
            <%= image_tag p.photos.thumb.url %>
            <%= link_to "Edit attachment", edit_address_attachment_path(p) %>
        <% end %>
      </p>
      <%# link_to 'Edit', edit_address_path(@address) %>
      <%# link_to 'Back', addresses_path %>
    </div>
  </div>
</div>
