<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# javascript_include_tag :cocoon%>
</head>
  <nav>
    <%= render 'layouts/navbar/navbar' %>
  </nav>
<body>
<%if (controller_name == 'dashboard') ||
    (controller_name=='addresses') ||
    ( (controller_name=='registrations' ) && ( (action_name =='edit') || (action_name =='update' ) ) )  %>
  <%= render 'layouts/dashboard' %>
<%else %>
  <%= yield %>
<% end %>
</body>
<script type="application/javascript">
    setWorldBackgroundHeight();
    window.addEventListener('resize', setWorldBackgroundHeight);
    // window.resize callback function
    function setWorldBackgroundHeight() {
        document.getElementById("world-background").style.minHeight = "" + ($(window).height()) + "px";
    }
</script>
</html>
